<!-- https://www.educenter.id/ini-alasan-penting-mengapa-perlu-masuk-smk/ -->
<p>
   Secara umum, SMK ditempuh selama tiga tahun. Ada pula yang ditempuh selama 4
   tahun. Biasanya karena ada tambahan waktu PKL atau Praktek Kerja Lapangan
   selama setahun. Penjurusan juga dimulai sejak awal pendidikan. Tentunya
   disesuaikan dengan minat anak. Tertarik dengan SMK? Yuk simak 5 alasan
   mengapa perlu masuk SMK.
</p>

<br />

<h2 class="text-xl">
   1. Pilihan bidang keahlian beragam
</h2>

<br />

<p>
   Anak bisa memilih program studi sesuai minatnya. Bidang keahlian SMK memang
   beragam, biasanya menyesuaikan dengan kebutuhan industri dan ketersediaan
   lapangan kerja di kota SMK tersebut. Misalnya, Bontang memiliki pabrik Pupuk
   Kaltim. SMKN 1 Bontang memiliki jurusan teknik kimia yang lulusannya bisa
   langsung bekerja di pabrik PKT sebagai operator pabrik.
</p>
<br />

<h2 class="text-xl">
   2. Pembekalan kewirausahaan
</h2>
<br />

<p>
   Dengan masuk SMK anak tidak hanya mendapatkan materi praktek dan teori,
   tetapi juga pembekalan kewirausahaan. Harapannya, setelah lulus nanti, anak
   juga bisa menciptakan lapangan kerja sendiri dengan membuka usaha sesuai
   bidang keahliannya.
</p>
<br />

<h2 class="text-xl">
   3. Bisa melanjutkan ke pendidikan tinggi
</h2>
<br />

<p>
   Salah jika orang beranggapan lulusan SMK tidak bisa melanjutkan pendidikan ke
   jenjang yang lebih tinggi. Nyatanya, lulusan SMK punya kesempatan yang sama
   untuk lanjut ke perguruan tinggi, politeknik, akademik, atau sekolah tinggi.
   Mereka juga bisa memilih jurusan yang berbeda dengan jurusan saat sekolah.
</p>
<br />

<h2 class="text-xl">
   4. Lulus SMK bisa langsung bekerja
</h2>
<br />

<p>
   Berbekal keterampilan kerja yang didapat dari materi praktek dan program PKL,
   lulusan SMK bisa langsung bekerja. Biasanya, lulusan SMK disukai perusahaan
   karena sudah memiliki keterampilan kerja yang cukup memadai. Mereka tidak
   butuh waktu lama untuk beradaptasi karena sudah biasa bekerja.
</p>
<br />
<h2 class="text-xl">
   5. Praktek Lebih Utama Dibanding Teori
</h2>
<br />
<p>
   Selain on the job training, Kamu juga akan merasakan bagaimana pelajaran di
   SMK lebih dititikkan pada praktek dibanding teori. Inilah yang membedakan
   sekolahmu dengan SMA dimana disana teori lebih diutamakan.
</p>
