<h2 class="text-xl font-bold">Teknik Bisnis Sepeda Motor</h2>
<br />

<p>
   Kompetensi Teknik Sepeda Motor dan Keterampilan Bisnis mempersiapkan
   mahasiswa untuk bekerja pada bidang pekerjaan yang dikelola oleh instansi,
   instansi atau perusahaan atau perorangan. yang menyatakan bahwa pendidikan
   vokasi adalah pendidikan menengah yang mempersiapkan siswa khususnya untuk
   bekerja di bidang tertentu.
</p>
<br />
<h3 class="font-bold">
   Tujuan Kompetensi Teknik dan Keahlian Usaha di Sepeda Motor
</h3>

<br />
<ul style="list-style-type:circle">
   <li>Pahami dasar-dasar mesin</li>
   <li>Pahami proses otomotif dasar</li>

   <li>Jelaskan proses mesin konversi energi</li>
   <li>Menafsirkan gambar teknik</li>
   <li>Menggunakan alat dan perlengkapan di tempat kerja</li>
   <li>Menggunakan alat ukur</li>
   <li>
      Menerapkan prosedur untuk keselamatan, kesehatan kerja dan lingkungan
      tempat kerja
   </li>
</ul>
<br />
<h2 class="font-bold">Kompetensi Kerja</h2>
<br />
<ul style="list-style-type:circle">
   <li>Memperbaiki sistem hidrolik sepeda motor</li>
   <li>Memperbaiki sistem gas buang</li>
   <li>Pertahankan baterai</li>
   <li>Lakukan perombakan kepala silinder</li>
   <li>Merombak sistem pendingin dan komponennya</li>
   <li>Lakukan perbaikan mesin sepeda motor dan komponennya</li>
   <li>
      Melakukan perbaikan pada unit kopling motor dan komponen sistem operasinya
   </li>
   <li>Lakukan perbaikan sistem transmisi manual</li>
   <li>Lakukan perbaikan pada sistem transmisi otomatis</li>
   <li>Lakukan perbaikan sistem rem</li>
   <li>Melakukan perbaikan pada sistem suspensi</li>
   <li>Lakukan perbaikan sistem rem</li>
   <li>
      Lakukan perbaikan kecil pada serangkaian sistem dan instrumen kelistrikan
   </li>
   <li>Lakukan perbaikan pada sistem starter</li>
   <li>Lakukan perbaikan sistem pengisian</li>
   <li>Perbaiki sistem pengapian</li>
</ul>
<br />
<h2 class=" font-bold">Lingkup Pekerjaan</h2>
<br />
<ul style="list-style-type:circle">
   <li>Teknisi perakitan atau teknisi produksi di industri Sepeda Motor</li>
   <li>Pengusaha di bidang Otomotif (Bengkel Sepeda Motor)</li>
</ul>
<br />
<h2 class="text-xl font-bold">Teknik Komputer dan Jaringan ( TKJ )</h2>
<br />
Dalam sebuah perusahaan, jaringan komputer adalah suatu keharusan. Setiap
komputer di kantor harus dapat terhubung ke komputer lain.
<br />
<br />
<h2 class=" font-bold">Materi yang belajar Siswa TKJ</h2>

<br />
Sehingga siswa lulusan TKJ memiliki keterampilan untuk mengurus segala catatan
komputer di masa depan.
<br />
<br />
<ul style="list-style-type:circle">
   <li>Cisco</li>
   <li>Mikrotik</li>
   <li>Nirkabel</li>
</ul>
<br />
Prospek Kerja Siswa TKJ, Beberapa gambaran prospek kerja sisa TKJ di antaranya
adalah sebagai berikut:
<br />
<br />
<ul style="list-style-type:circle">
   <li>Desainer Jaringan</li>
   <li>
      Insinyur Jaringan
   </li>
   <li>Pusat Operasi Jaringan</li>
</ul>

<br />
<br />
<h2 class="text-xl font-bold">Multimedia</h2>
<br />
Grafis, Suara dan Audio, Video, Animasi, Desain Web, Media Penyimpanan , Setup
dan Pengoperasian Video Dasar, dan Menyunting Suara.
<br />
<br />
Pengembang Web (Pengembangan Web) terdiri dari Pembuat Web dan Pemelihara Web
Pengembang Multimedia (Pengembangan Multimedia) terdiri dari Pembuat Multimedia
dan Pemelihara Multimedia
<br />
<br />
<h2 class="text-xl font-bold">Asisten Keperawatan</h2>
<br />
Peluang kerja jurusan Asisten Keperawatan ini cukup besar dan sudah habisnya.
Untuk kamu yang mau melanjutkan (kuliah) ke Perguruan Tinggi, Jurusan Asisten
Keperawatan juga banyak terkenal di Perguruan Tinggi atau Universitas Negeri
atau Swasta.
<br />
<br />
<h2 class="text-xl font-bold">Animasi dan Multimedia</h2>
<br />
Posisi pertama adalah jurusan Animasi dan Multimedia. Yang terpenting adalah
jika kamu mahir dalam bidang maka bukan hanya mampu mencapai pekerjaan yang baik
dengan gaji yang besar, tetapi juga kamu bisa menjadi freelancer.
<br />
<br />
<h2 class="text-xl font-bold">Pariwisata</h2>
<br />
Jurusan pariwisata sangat berusaha untuk memperoleh kehidupan yang lebih layak
kedepannya. Bermain pun tidak lagi seperti dulu, bermain di alam bebas,
kotoran-kotoran bersama teman-teman sebaya dan segala keseruan yang ada. Saat
ini, semuanya serba online.
<br />
<br />
Membuat grup online dari media sosial, grup komunikasi khusus seperti WhatsApp.
Itu semua tentunya akan mengakibatkan kejenuhan sehingga membutuhkan penyegaran
di luar ruangan. Dengan memiliki ilmu dalam bidang pariwisata, kamu bisa menjadi
tempat wisata, pemandu wisata, travel blogger, konsultan pariwisata, wedding
organizer, manajemen restoran, dan banyak lagi yang lainnya.
<br />
<br />
<h2 class="text-xl font-bold">Mesin dan Elektro</h2>
<br />
Jika kamu berhasil menjadi karyawan di perusahaan dengan jabatan mekanik atau
teknisi listrik, maka gaji yang kamu peroleh cukup besar. Biasanya gajinya di
atas rata-rata perusahaan yang menangani.
<br />
<br />
<h2 class="text-2xl font-bold">Jurusan SMK Untuk Anak Wanita?</h2>
<br />
<h2 class="text-xl font-bold">Tata Boga</h2>

<br />
Minat utama berikutnya di SMK bagi anak perempuan adalah kuliner. Siswa yang
sudah gemar belajar memasak sejak kecil bisa memilihnya. Di jurusan ini
mahasiswa akan diajarkan memasak berbagai jenis makanan. Misalnya masakan
daerah, Indonesia, bahkan mancanegara, termasuk membuat makanan utama, makanan
pembuka, jajanan, dan aneka minuman olahan. Selain itu, siswa juga akan
diajarkan membuat bentuk presentasi.
<br />
Tak hanya memasak dan mempercantik penampilan, mahasiswa kuliner juga diajari
cara menghitung kalori untuk setiap hidangan yang disajikan, termasuk cara
mengolah makanan bergizi. Beberapa makanan dari bioteknologi juga akan diajarkan
disini. Jenis bisnis seperti katering, kue kering, dan kafe, dapat dipilih
dengan tambahan keterampilan manajemen yang baik.
<br />
<br />

<h2 class="text-xl font-bold">Akuntansi</h2>
<br />
Akuntansi bisa menjadi salah satu jurusan di SMK putri. Departemen ini menuntut
ketelitian dan ketekunan. Siswa juga dapat melanjutkan ke tingkat sarjana untuk
menjadi akuntan. Bagi mahasiswa yang berminat bekerja kantoran dan suka
menghitung uang, jurusan ini bisa jadi pertimbangan.
<br />
<br />
<h2 class="text-xl font-bold">Model</h2>
<br />
Salah satu jurusan favorit di SMK untuk perempuan adalah fashion. Jurusan ini
sangat digemari terutama oleh para mahasiswi yang hobi menjahit. Tak hanya itu,
jurusan tersebut juga mengajarkan desain busana. Ini dapat digunakan sebagai
bekal untuk mendirikan modeste atau tempat menjahit sendiri.
<br />
<br />
Sekarang adalah era kewirausahaan. Dengan ketrampilan fashion, nantinya
mahasiswa bisa memiliki usaha sendiri bahkan mempekerjakan orang lain. Beberapa
siswi SMK jurusan fashion juga bisa menjadi desainer sukses yang memamerkan
karyanya di luar negeri. Biasanya sekolah mewadahi siswanya untuk tampil di
fashion show yang membuat mereka mengenal fashion stage.

<br />
<br />
<h2 class="text-xl font-bold">Farmasi</h2>
<br />
Jurusan Farmasi bisa menjadi pilihan jurusan di SMK untuk anak perempuan.
Departemen ini juga membutuhkan ketelitian. Profil kerja departemen ini juga
cukup baik. Misalnya melanjutkan kuliah di bidang farmasi dan terus mendapatkan
izin sebagai apoteker. Bagi lulusan SMK Farmasi bisa mencoba pekerjaan
kefarmasian di apotek.
<br />
<br />
Hal yang perlu diperhatikan dalam memilih jurusan SMK untuk anak perempuan
adalah keterlibatan mereka. Sebaiknya amati hobi anak Anda untuk mengarahkannya
ke arah yang benar.Selain itu, perhatikan nilai-nilai di sekolah.
<br />
<br />
Untuk mengambil jurusan Farmasi misalnya, anak harus memiliki nilai bagus dalam
mata pelajaran IPA. Jurusan Akuntansi harus memiliki nilai ekonomis yang baik.
Memilih jurusan juga menjadi salah satu cara untuk mempersiapkan karir sejak
lulus SMP. Jadi, itu harus dilakukan dengan pertimbangan matang. Demikian
penjelasan dari saya tentang Jurusan SMK semoga bermanfaat, terima kasih.
