<p>
    Banyak anak yang masih bingung ketika memilih salah satu dari kedua pilihan
    sekolah ini. Sehingga tak jarang dari mereka yang merasa salah pilihan dan
    akhirnya mengendorkan semangat dalam belajar. Agar tidak bingung, pada
    artikel kali ini akan dibahas mengenai perbedaan SMA dengan SMK.
 </p>
 <br />

 <h3 class="text-xl my-2">1. Biaya pendidikan</h3>
 <p>
    Biaya pendidikan Biaya di SMA relatif lebih murah bila dibandingkan dengan
    pendidikan di SMK. Hal ini disebabkan oleh banyaknya kegiatan praktik yang
    dilakukan saat menempuh pendidikan di SMK. Berbeda dengan di SMA yang lebih
    banyak pelajaran bersifat teori ketimbang praktiknya. Besarnya biaya juga
    dipengaruhi oleh beberapa faktor, seperti sekolah favorit tentu biayanya
    lebih mahal dari sekolah biasa pada umumnya, atau jenis jurusan SMK yang
    diambil, karena ada jurusan SMK yang memang biayanya sangat mahal dan ada
    juga yang murah.
 </p>
 <br />

 <h3 class="text-xl my-2">2. Jenis Jurusan</h3>
 <p>
    Pilihan jurusan di SMK lebih banyak bila dibandingkan dengan pilihan jurusan
    di SMA yang tergolong sedikit. Jadi bila ingin fokus menekuni suatu bidang,
    lebih baik memilih SMK saja, karena banyak pilihan yang bisa dipilih sesuai
    dengan minat bakat. Ini juga dipengaruhi oleh tempat sekolah yang dipilih,
    tidak semua SMK memiliki banyak jurusan dan ada juga SMK yang memiliki
    jurusan variatif.
 </p>
 <br />

 <h3 class="text-xl my-2">3. Tujuan Pendidikan</h3>

 <p>
    Pendidikan SMA dan SMK memiliki tujuan yang berbeda, meskipun prinsipnya
    sama-sama tempat belajar menimba ilmu. Pendidikan SMA ditujukan untuk fokus
    melanjutkan pendidikan ke perguruan tinggi, sedangkan SMK lebih ditujukan
    untuk yang ingin terjun didunia kerja dan bisa juga melanjutkan ke perguruan
    tinggi dengan jurusan yang relevan saat SMK. Tapi sayangnya, masih banyak
    siswa yang memilih SMA atau SMK belum mengetahui tujuan yang jelas saat
    memilih SMA dan SMK. Kebanyakan siswa memilih hanya ikutan teman,
    gengsi-gengsian dan berjuta alasan yang tidak relevan dengan tujuan masa
    depan.
 </p>
 <br />

 <h3 class="text-xl my-2">4. Peluang dimasa depan</h3>

 <p>
    Lulusan SMA dan SMK memiliki peluang yang sama untuk sukses dimasa depan.
    Lulusan SMA atau SMK bisa melanjutkan untuk kuliah atau bisa juga bekerja.
    Tapi lulusan SMK lebih siap didunia kerja, karena saat dibangku sekolah sudah
    mempunyai skill atau keahlian khusus yang dipelajari melalui kegiatan praktik
    magang.
 </p>
 <br />

 <h3 class="text-xl my-2">5. Lama pendidikan</h3>

 <p>
    Pada dasarnya lama menempuh pendidikan SMA dan SMK itu sama saja. Namun ada
    beberapa jurusan di SMK yang memerlukan waktu praktik lebih lama sehingga
    waktu pendidikan pun lebih lama yaitu empat tahun. Sejak tahun 2017
    Kemendikbud meluncurkan program SMK 4 Tahun demi meningkatkan kompetensi
    lulusan. Pada tahun keempat, siswa SMK belajar di dunia industri atau lebih
    sering dikenal sebagai PKL.
 </p>
 <br />
 <h3 class="text-xl my-2">6. Tempat Belajar</h3>
 <p>
    Anak SMA lebih banyak belajar dikelas dengan mempelajari teori-teori
    masing-masing jurusan, sedangkan SMK selain belajar di kelas banyak kegiatan
    praktik dilakukan di lapangan atau lingkungan kerja. Ini dilakukan saat
    kegiatan praktik kerja, tentu hal ini bisa memberikan pengalaman belajar yang
    lebih banyak.
 </p>
 <br />
 <h3 class="text-xl my-2">7. Dunia kerja</h3>
 <p>
    Lulusan SMA belum siap untuk bekerja secara skill, sedangkan SMK memang sudah
    disiapkan untuk bekerja setelah lulus dan kemungkinan besar diterima didunia
    kerja, sehingga kegiatan belajar lebih banyak praktik dibanding teori
 </p>

