<p>
   Menteri Pendidikan dan Kebudayaan (Mendikbud) bersama dengan Menteri Dalam
   Negeri (Mendagri), Menteri Agama (Menag), dan Menteri Kesehatan (Menkes),
   bersepakat dalam penyesuaian kebijakan pembelajaran di masa pandemi Covid-19.
   Kesepakatan tersebut tertuang dalam Surat Keputusan Bersama (SKB) Empat
   Menteri yang diputuskan setelah melihat hasil survei yang dilakukan oleh
   Direktorat Jenderal Pendidikan Vokasi Kemendikbud terkait dampak yang timbul
   akibat pembelajaran jarak jauh (PJJ) selama masa pandemi Covis-19. Hasilnya,
   untuk jenjang SMK, pembelajaran praktik membutuhkan kehadiran siswa dan guru
   secara fisik di ruang praktikum dengan protokol kesehatan yang ketat.
</p>
<br />

<p>
   Sekolah yang berada di zona hijau dan kuning diperbolehkan menyelenggarakan
   pembelajaran tatap muka. Khusus untuk SMK, pada semua zona diperbolehkan
   pembelajaran tatap muka, namun hanya untuk pembelajaran praktik karena adanya
   kebutuhan praktikum. Pembelajaran praktik tersebut harus dilakukan dengan
   tetap menerapkan protokol kesehatan yang ketat. "Realisasinya di lapangan
   diserahkan kepada SMK dengan tetap berkoordinasi dengan satuan gugus tugas
   setempat dan dinas pendidikan
</p>
<br />

<p>
   berdasarkan revisi SKB, diperbolehkannya pembelajaran tatap muka bagi jenjang
   SMK dikarenakan pembelajaran praktik merupakan keahlian inti SMK. Oleh karena
   itu, pembelajaran praktik mata pelajaran produktif bagi peserta didik SMK
   diperbolehkan di semua zona dengan wajib menerapkan protokol kesehatan
   seperti menggunakan masker, tersedianya sarana kesehatan dan kebersihan yang
   baik, serta penerapan social distancing.
</p>
<br />

<p>
   Untuk Kedepan nya pemerintah telah menyediakan platform dengan visi ke depan,
   semisal penyelenggaraan pendidikan SMK selama 4,5 yang menghasilkan D2.
   “Jangan pernah takut bermimpi. Ada banyak terobosaan yang kami buat sampai
   level ‘menikah’. Kurikulum berbasis project, serta kepala sekolah akan
   menjadi penggerak,” terang Wikan (Direktur Jenderal Pendidikan Vokasi
   Kementerian Pendidikan dan Kebudayaan)
</p>
<br />

<p>
   “Tanpa passion yang kuat, tidak akan menghasilkan SDM unggul yang kompeten,”
   ujar Wikan. Karenanya, lulusan SMK nantinya diharapkan bukan sekadar
   mengandalkan ijazah, tetapi juga memiliki kompetensi yang diinginkan oleh
   dunia kerja. Kompeten tersebut artinya “aku bisa apa”, bukan “aku sudah
   belajar apa”. Selain itu, terbentuknya kompetensi juga tidak didasarkan pada
   hard skill saja, tetapi juga soft skill, plus yang paling penting adalah
   kejujuran, moralitas, dan integritas.
</p>
