<p>
   Pendidikan di Indonesia berawal dari pendidikan berbasis keagamaan yang di
   selenggarakan oleh para pemuka dan penyebar agama Hindu, Budha, dan Islam.
   Pada zamannya, mereka telah mengembangkan sistem pendidikan yang relatif
   terstruktur dari segi isi maupun tingkatannya. Namun sistem pendidikan dalam
   bentuk sekolah atau menyerupai sekolah baru dimulai pada abad ke-16. Sekolah
   pertama di Indonesia yang didirikan oleh penguasa Portugis di Maluku, Altonio
   Galvano pada tahun 1536 yaitu berupa sekolah seminari untuk anak-anak dari
   pemuka pribumi. Kemudian didirikan “Sekolah Pertukangan” di Surabaya yang
   berdiri pada tahun 1853 yang merupakan sekolah kejuruan pertama di Indonesia.
   Bila sekolah ini menjadi patokan, maka hingga sekarang sekolah kejuruan di
   Indonesia telah berusia satu setengah abad.
</p>
<br />
<p>
   Berbekal keterampilan pembelajaran praktik, kami siswa SMK yang telah
   disiapkan untuk siap kerja selepas pendidikan sekolah menengah harus memiliki
   kualifikasi industri yang mempuni. Jumlah jam belajar praktik yang lebih
   banyak dibandingkan teori melatih kami untuk lebih terampil ketika diharuskan
   bekerja selepas pendidikan selesai. Berkaca dari program yang diluncurkan
   Direktur Jenderal Pendidikan Vokasi (Dirjen Diksi) Kementerian Pendidikan dan
   Kebudayaan (Kemendikbud) Wikan Sakarinto, bahwa terdapat enam program yang
   akan dijalankan untuk SMK kedepanya. Untuk itu kami sebagai siswa SMK merasa
   lebih percaya diri ketika harus terjun langsung kedalam dunia industri maupun
   usaha selesai lulus sekolah
</p>
<br />

<h2 class="text-2xl my-2 capitalize">pengembangan budaya kerja</h2>
<br />

<p>
   Program
   <strong class="italic border-b-2 border-speind-red">pertama</strong> yang
   dicanangkan yaitu <strong>pengembangan budaya kerja</strong>. Program ini
   mencakup pembangunan karakter berupa pembinaan kedisiplinan, pembinaan
   kerohanian, pembinaan minat dan bakat, pembinaan ketarunaan, dan kontrak
   belajar di awal tahun. Program ini sudah kami dapatkan dengan mengikuti
   kegiatan-kegiatan diluar kelas yang diadakan sekolah berupa ekstrakulikuler.
   Dari sana kemampuan <strong>softskill</strong> kami
   <strong>terasah dengan baik</strong>. Tidak hanya bimbingan kemampuan yang
   diutamakan, secara kerohanian pun kami selalu dipantau dengan baik. Karena
   kecerdasan intelektual harus selalu diseimbangkan dengan kecerdasan emosional
</p>
<br />

<h2 class="text-2xl my-2 capitalize">program beasiswa prestasi dan bakat</h2>
<br />

<p>
   Kedua, yakni
   <strong class="italic border-b-2 border-speind-red"
      >program beasiswa prestasi dan bakat</strong
   >
   yang merupakan pengembangan potensi siswa siswi SMK. Adapun beasiswa yang
   dimaksud, diberikan kepada mereka yang memiliki prestasi tingkat provinsi,
   nasional maupun internasional, serta yang mempunyai bakat tertentu, seperti
   seni dan olahraga. Selain itu, juga ada beasiswa bagi kompetensi keahlian
   yang mendukung kelestarian budaya dan pengembangan daerah sesuai dengan
   karakteristik negara Indonesia, seperti perdalangan, karawitan, pertanian,
   dan kelautan. Selama bersekolah kami juga tidak hanya belajar didalam kelas
   untuk meningkatkan kemampuan kami. Kami juga mengikuti beberapa kompetisi
   perlombaan yang juga menjadi bidang kami. Dari sana kami belajar, bahwa
   kemampuan yang kami miliki dan terus kami kembangkan hari ini akan bermanfaat
   selepas sekolah.
</p>
<br />
<h2 class="text-xl my-2 capitalize">
   pengembangan pendidikan kewirausahaan bagi SMK yang mempunyai mata pelajaran
   produk kreatif dan kewirausahaan
</h2>
<br />

<p>
   Ketiga, yakni
   <strong class="italic border-b-2 border-speind-red"
      >pengembangan pendidikan kewirausahaan bagi SMK yang mempunyai mata
      pelajaran produk kreatif dan kewirausahaan</strong
   >. Kami juga mendapatkan materi dan praktek yang mengarahkan untuk berpikir
   kreatif sebagai wirausahawan. Melihat permasalahan lulusan SMK yang semakin
   sedikit dibutuhkan sesuai bidangnya, maka kami menyadari bahwa harus ada
   potensi lainya yang kami kuasai, yaitu berwirausaha. Dengan keterampilan dan
   kemampuan yang kami miliki serta bentuk kreatifitas yang terus diasah, kami
   yakin selepas sekolah kami mampu untuk bertahan dengan salah satunya menjadi
   wirausahawan.
</p>
<br />

<h2 class="text-xl my-2 capitalize">karya inovatif pembelajaran</h2>
<br />

<p>
   Program
   <strong class="italic border-b-2 border-speind-red">keempat</strong> berupa
   <strong class="italic border-b-2 border-speind-red"
      >karya inovatif pembelajaran</strong
   >
   untuk pembuatan inovasi atau pembuatan materi pembelajaran dengan membuat
   video bagi pengajar SMK. Pembelajaran dalam masa pandemi ini banyak membuat
   gaya belajar kami berubah. Pembelajaran yang seharusnya dilakukan secara
   langsung tatap muka, harus kami relakan dengan pembelajaran daring. Tapi kami
   tersadar bahwa pembelajaran yang terjadi selama pandemi ini sangat diusakan
   semaksimal mungkin oleh guru-guru kami agar kompetensi yang seharusnya kami
   miliki dapat tercapai. Salah satu yang pada akhirnya kami sadari yaitu dengan
   pembuatan video-video pembelajaran yang guru-guru kami lakukan demi
   peningkatan pengetahuan kami dalam pembelajaran di masa pandemi ini. Untuk
   itu kami harus terus menyelaraskan rasa semangat belajar untuk menyambut
   target-target yang guru kami rancang.
</p>
<br />

<h2 class="text-xl my-2 capitalize">sertifikasi kompetensi</h2>
<br />

<p>
   Program <strong class="italic border-b-2 border-speind-red">kelima</strong>,
   yakni
   <strong class="italic border-b-2 border-speind-red"
      >sertifikasi kompetensi</strong
   >
   yang diberikan Direktorat Pembinaan SMK agar lulusan SMK diakui oleh
   industri. Salah satu program yang kami anggap sangat bergengsi yaitu memiliki
   sertifikat kompetensi dengan berlogokan BNSP disertifikatnya. Bagaimana
   tidak, dalam masa pandemi seperti satu tahun belakangan ini, program
   sertifikasi tidak dapat berjalan dengan maksimal. Untuk itu, kami merasa
   beruntung untuk belajar dan tersertifikasi resmi. Kami tidak menyia-nyiakan
   kesempatan sertifikasi ini. Dengan kami sangat sadari, sertifikat kompetensi
   ini juga akan membantu kami ketika ingin melamar pekerjaan.
</p>
<br />

<h2 class="text-xl my-2 capitalize">pengembangan SMK BLUD</h2>
<br />

<p>
   Sedangkan program
   <strong class="italic border-b-2 border-speind-red">keenam</strong>, yaitu
   <strong class="italic border-b-2 border-speind-red"
      >pengembangan SMK BLUD</strong
   >
   oleh pemerintah daerah untuk membentuk sekolah yang mandiri. Dari
   program-program yang dicanangkan pemerintah dan juga antusiasme yang selalu
   kami hadirkan membuat semua elemen dapat berjalan dengan baik. Fasilitas yang
   kami terima sebagai sekolah kejuruan pun sudah memberikan kami rasa terima
   kasih untuk bisa belajar didalamnya.
</p>
<br />
<br />
<p>
   Selesai pemerintah mencanangkan program dan guru-guru kami meramu dengan
   sempurna, saatnya kami yang menerapkan dengan baik keterampilan, ilmu dan
   segala macam pembelajaran yang sudah kami dapatkan selama sekolah. Almamater
   SMK yang sudah tersemai dalam diri akan selalu menjadi kebanggaan yang
   kemanapun kami berpijak disana jiwa semangat berprestasi, berkompetisi dan
   berjuang gigih itu terus tumbuh. Berlandas kepada Pancasila dan sila-sila
   didalamnya ada yang terus harus kami pupuk yaitu “suka bekerja keras dan
   kerja cerdas” dengan tidak banyak mengeluh yang hasilnya tidak diperuntukan
   untuk diri kami sendiri melainkan untuk keluarga dan orang-orang yang
   membutuhkan. Menjadi pekerja, berwirausaha maupaun melanjutkan Pendidikan
   nantinya, tugas kami hari ini adalah terus mengasah kemampuan dan memupuk
   kemauan untuk terus berprestasi.
   <strong class="italic border-b-2 border-speind-red"
      >SMK Bisa! SMK Hebat! SMK Berprestasi!</strong
   >
</p>
